<div class="Cabecalho" role="banner" aria-label="Cabeçalho do site">
  <div class="menu_hamburguer">
    <input
      type="checkbox"
      id="menu_toggle"
      aria-label="Alternar menu de navegação"
    />
    <label for="menu_toggle" class="menu_icone" aria-label="Botão do menu">
      <div class="linha" aria-hidden="true"></div>
      <div class="linha" aria-hidden="true"></div>
      <div class="linha" aria-hidden="true"></div>
    </label>

    <div
      class="conteudo_menu"
      role="dialog"
      aria-label="Menu de navegação principal"
    >
      <nav class="menu">
        <ul role="list">
          <li role="listitem">
            <a href="index.html">
              <img
                src="img/logos_menu/logo_home_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Tela inicial</div>
            </a>
          </li>
          <li role="listitem">
            <a href="cardapio.html">
              <img
                src="img/logos_menu/logo_cardapio_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Nosso Cardápio</div>
            </a>
          </li>
          <li role="listitem">
            <a href="sobre.html">
              <img
                src="img/logos_menu/logo_sobre_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Sobre nós</div>
            </a>
          </li>
          <li role="listitem">
            <a href="contato.html">
              <img
                src="img/logos_menu/logo_contato_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Fale conosco</div>
            </a>
          </li>
          <li role="listitem">
            <a
              href="https://www.instagram.com/parmegianadojuca/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="img/logos_menu/logo_insta_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Nos acompanhe pelo instagram!</div>
            </a>
          </li>
          <li role="listitem">
            <a
              href="https://www.facebook.com/parmegianadojucaof"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="img/logos_menu/logo_face_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Visite nossa página do facebook!</div>
            </a>
          </li>
          <li role="listitem">
            <a
              href="https://www.ifood.com.br/delivery/brasilia-df/parmegiana-do-juca-vicente-pires-setor-habitacional-vicente-pires/f351a74d-708f-49f9-9b18-430ab2d29819"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="img/logos_menu/logo_ifood_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Faça-nos um pedido no Ifood!</div>
            </a>
          </li>
          <li role="listitem">
            <a
              href="https://wa.link/7bhdqj"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="img/logos_menu/logo_whatsapp_menu.svg"
                alt=""
                aria-hidden="true"
              />
              <div class="complementar">Chame no Whatsapp!</div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <img
    src="img/logos_icone/logo_juca.webp"
    alt="Logo Parmegiana do Juca"
    width="150"
    height="150"
    class="logo_topo"
  />
</div>
